BOT_TOKEN=token
CRYPTO_BOT_TOKEN=token
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/app_db"

INIT_RESOURCE_PLANTS=50
INIT_RESOURCE_ANIMALS=50
INIT_RESOURCE_FACTORIES=50
INIT_RESOURCE_MINES=50

MAX_NUMBER_CLICKS_PER_HOUR=3